{% extends 'layout.html' %}

{% block title %}accessories-Page{% endblock  %}

{% block body %}
<div class="col-md-11" style="width: 80%;margin: 0 auto;">
  <div class="row">
    <a href="/accessories/gaming" class="card" style="width: 16rem; margin: 3%; text-decoration: none; color: black;">
      <img src="/static/images/games.jpg" class="card-img-top" width="100" height="330"  alt="gameImage">
      <div class="card-body">
        <h5 class="card-title text-center">Gaming</h5>
      </div>
    </a>
  
    <a href="/accessories/headsets" class="card" style="width: 16rem; margin: 3%; text-decoration: none; color: black;">
      <img src="/static/images/img11.jpeg" class= "card-img-top w-100" height="330" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Headsets</h5>
      </div>
    </a>
  
    <a href="/accessories/chargers" class="card" style="width: 16rem; margin: 3%; text-decoration: none; color: black;">
      <img src="/static/images/charger.jpg" class= "card-img-top w-100" height="330"alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Chargers</h5>
      </div>
    </a>

    <a href="/accessories/mics/speakers" class="card" style="width: 16rem; margin: 3%; text-decoration: none; color: black;">
      <img src="/static/images/speakers.jpeg" class="card-img-top" width="100" height="330" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Speakers</h5>
      </div>
    </a>

  
    <a href="/accessories/keyboard/mouse" class="card" style="width: 16rem; margin: 3%; text-decoration: none; color: black;">
      <img src="/static/images/keyboard.jpeg" class="card-img-top" width="100" height="330" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Keyboard&mouse</h5>
      </div>
    </a>
   
    <a href="/accessories/phone/ipads cases" class="card" style="width: 16rem; margin: 3%; text-decoration: none; color: black;">
      <img src="/static/images/cases.jpg" class= "card-img-top w-100" height="330" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Cases</h5>
      </div>
    </a>

  </div>

</div>


{% endblock  %}