{% extends 'layout.html' %}

{% block title %}contact-Page{% endblock %}
{% block body %}
<div class="container">
  <div class="contact-parent">
     <div class="contact-child child1">
        <p>
           <i class="fas fa-map-marker-alt"></i> Address <br />
           <span> 1234 Street AVE
           <br />
           CA, USA
           </span>
        </p>
        <p>
           <i class="fas fa-phone-alt"></i> Call Us at <br />
           <span> 123-123_3456</span>
        </p>
        <p>
           <i class=" far fa-envelope"></i> General Support <br />
           <span>eShope@example.com</span>
        </p>
     </div>
     <div class="contact-child child2">
        <div class="inside-contact">
           <h2>Contact Us</h2>
           <h3>
              <span id="confirm">
           </h3>
           <p>Name *</p>
           <input id="txt_name" type="text" Required="required">
           <p>Email *</p>
           <input id="txt_email" type="text" Required="required">
           <p>Phone *</p>
           <input id="txt_phone" type="text" Required="required">
           <p>Subject *</p>
           <input id="txt_subject" type="text" Required="required">
           <p>Message *</p>
           <textarea id="txt_message" rows="4" cols="20" Required="required" ></textarea>
           <!--p id="demo"--> <!--/p-->
           <!--button type="button" class = "block" onclick='document.getElementById("demo").innerHTML = "Email Sent Successufully!!!"'>Send!</button-->
           <button id="myBtn" type="button" class = "block">Send!</button>

           <!-- The Modal -->
           <div id="myModal" class="modal">
           
             <!-- Modal content -->
             <div class="modal-content">
               <span class="close">&times;</span>
               <p>Email Sent Successufully!!!</p>
             </div>
           
           </div>
        </div>
     </div>
  </div>
</div>

<script>
   // Get the modal
   var modal = document.getElementById("myModal");
   
   // Get the button that opens the modal
   var btn = document.getElementById("myBtn");
   
   // Get the <span> element that closes the modal
   var span = document.getElementsByClassName("close")[0];
   
   // When the user clicks the button, open the modal 
   btn.onclick = function() {
     modal.style.display = "block";
   }
   
   // When the user clicks on <span> (x), close the modal
   span.onclick = function() {
     modal.style.display = "none";
   }
   
   // When the user clicks anywhere outside of the modal, close it
   window.onclick = function(event) {
     if (event.target == modal) {
       modal.style.display = "none";
     }
   }
   </script>
{% endblock %}
