{% extends 'layout.html' %}

{% block title %}Phones Page{% endblock  %}

{% block body %}
<h3 class="text-center">Phones</h3>
<div class="col-md-11" style="width: 80%; margin: 0 auto;">
    <div class="row">
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://m.media-amazon.com/images/I/611ovP2GkrL.jpg"
                class="card-img-top"  width="100" height= "330" alt="IphoneImage">
            <div class="card-body">
                <h4 class="card-title">GiPhone 13 Pro</h4>
                <h6>1099.99$</h6>
                <p class="card-text">Apple - iPhone 13 Pro Max 5G 128GB - Alpine Green</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9c/Pokemon_Legends_Arceus_cover.jpg/220px-Pokemon_Legends_Arceus_cover.jpg"
                class="card-img-top" width="100" height= "330" alt="PokemonImage">
            <div class="card-body">
                <h4 class="card-title">Pokémon Legends: Arceus</h4>
                <h6>59.59$</h6>
                <p class="card-text">Pokémon Legends: Arceus - Nintendo Switch</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://images-na.ssl-images-amazon.com/images/I/511tEyCIqhL._SX377_BO1,204,203,200_.jpg"
                class="card-img-top"  width="100" height= "330" alt="HaloImage">
            <div class="card-body">
                <h4 class="card-title">Halo Infinite</h4>
                <h6>29.99$</h6>
                <p class="card-text">The Art of Halo Infinite Hardcover-December 14, 2021</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> <div>incrment button</div>
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6495/6495126_sd.jpg;maxHeight=640;maxWidth=550"
                class="card-img-top" width="100" height= "330" alt="GameImage">
            <div class="card-body">
                <h4 class="card-title">W2K22 Game</h4>
                <h6>$69.99</h6>
                <p class="card-text">WWE 2K22 Standard Edition-PlayStation 5
                    Model:57883 </p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> <div>incrment button</div>
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://m.media-amazon.com/images/I/71pFnHBrvgL._AC_UY436_QL65_.jpg"
                class="card-img-top" width="100" height= "330" alt="GameImage">
            <div class="card-body">
                <h4 class="card-title">play Station</h4>
                <h6>289.99$</h6>
                <p class="card-text">Sony PlayStation 4 500GB Console GameStop Premium Refurbished</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> <div>incrment button</div>
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://m.media-amazon.com/images/I/61rd6ECx4LL._AC_UY436_QL65_.jpg"
                class="card-img-top" width="100" height= "330" alt="GameImage">
            <div class="card-body">
                <h4 class="card-title">play Staion</h4>
                <h6>39.99$</h6>
                <p class="card-text">OIVO PS5 Stand with Suction Cooling Fan&Dual Charger Station </p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> <div>incrment button</div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}