{% extends 'layout.html' %}

{% block title %}Phones Page{% endblock %}

{% block body %}
<h3 class="text-center">Phones</h3>
<div class="col-md-11" style="width: 80%; margin: 0 auto;">
    <div class="row">

        {% for product in products %}

        <div class="card" style="width: 16rem; margin: 4%; height: 560px;">
            <div class="pic" style="margin-top: 4%;">
            <img src={{product.image_location}} class="card-img-top" width="100" height="330" alt="PhoneImage">
            </div>
            <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <h6>${{product.price}}</h6>
                <p class="card-text">{{product.description}}<br>{{product.stock}} in-Stock</p>
                <a href="#" class="btn btn-primary" style="width: 100%"> Add <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

<!-- <h3 class="text-center">Phones</h3>
<div class="col-md-11" style="width: 80%; margin: 0 auto;">
    <div class="row">
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/phone1.jpg" class="card-img-top" width="100" height="330" alt="IphoneImage">
            <div class="card-body">
                <h4 class="card-title">Iphone 13 Pro</h4>
                <h6>1099.99$</h6>
                <p class="card-text">Apple iPhone 13 Pro Max 128 GB In Sierra Blue With Installment</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/phone2.jpg" class="card-img-top" width="100" height="330" alt="HaloImage">
            <div class="card-body">
                <h4 class="card-title">Samsung Galaxy</h4>
                <h6>999.59$</h6>
                <p class="card-text">Galaxy: Sumsung Certified Pre awoned </p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/phone3.jpg" class="card-img-top" width="100" height="330" alt="HaloImage">
            <div class="card-body">
                <h4 class="card-title">Pixel</h4>
                <h6>899.99$</h6>
                <p class="card-text">Pixel 6 Pro Cloudy White 128GB</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"> </i></a>
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="static/images/phone4.png" class="card-img-top" width="100" height="330" alt="PhoneImage">
            <div class="card-body">
                <h4 class="card-title">Iphone 11</h4>
                <h6>$549.99</h6>
                <p class="card-text"> iPhone11 128GB-Unlocked & SIM-Free-RED-Apple </p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"> </i></a>
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/phone5.png" class="card-img-top" width="100" height="330" alt="GameImage">
            <div class="card-body">
                <h4 class="card-title">Samsung Galaxy</h4>
                <h6>1049.99$</h6>
                <p class="card-text">Samsung Galaxy S22+, 256GB In Pink </p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"> </i></a>
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/phone6.jpg" class="card-img-top" width="100" height="330" alt="GameImage">
            <div class="card-body">
                <h4 class="card-title">Pixel</h4>
                <h6>599.99$</h6>
                <p class="card-text">Pixel 6 Kinda Coral 128GB (Unlocked) </p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"> </i></a>
            </div>
        </div>
    </div>
</div> -->

{% endblock %}