{% extends 'layout.html' %}

{% block title %}Home-Page{% endblock %}

{% block body %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    </head>
    
    
    </div>
      <form class="modal-content animate" method="post">
        <div class="imgcontainer">
            <div class="center"><h2>Sign Up</h2></div>
          <img src="/static/images/eShope.png" alt="logo Icon" style="width:100px;height:100px;border-radius: 50%;">
        </div>
    
        <div class="container">
          <label for="firstName"><b>First Name</b></label>
          <input type="text" placeholder="Enter First Name" name="firstName" required> 
          
          <label for="lastName"><b>Last Name</b></label>
          <input type="text" placeholder="Enter Last Name" name="lastName" required>
          
          <label for="email"><b>Email Address</b></label>
          <input type="text" placeholder="Enter Email Address" name="email" required>
    
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
            
            
          <button type="submit">Sign Up</button>
          <div class="center"><a href="/userlogin" style="background-color: white; color: black; font-size: small;">Return to Login!</a></div>
          
        </div>
        <div class="container" style="background-color:#f1f1f1">
        
        </div>
      </form>
    
    
  
{% endblock  %}