{% extends 'layout.html' %}

{% block title %}Charger{% endblock %}

{% block body %}
<h3 class="text-center">Charging Accessories</h3>
<div class="col-md-11" style="width: 80%; margin: 0 auto;">
    <div class="row">

        {% for product in products %}

        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src={{product.image_location}} class="card-img-top" width="100" height="330" alt="GTAImage">
            <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <h6>{{product.price}}$</h6>
                <p class="card-text">{{product.description}}<br>{{product.stock}} in stock</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

        <!-- <h3 class="text-center">Charging Accessories</h3>
<div class="col-md-11" style="width: 80%; margin: 0 auto;">
    <div class="row">
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/charger1.jpg"
                class="card-img-top"  width="100" height= "330" alt="ChargerImage">
            <div class="card-body">
                <h4 class="card-title">iPhone Charger</h4>
                <h6>29.99$</h6>
                <p class="card-text">iPhone Fast, Stuffcool 20W USB C Power Delivery Wall Charger for iPhone,iPad</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>



        
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/charger2.jpg"
                class="card-img-top" width="100" height= "330" alt="GTAImage">
            <div class="card-body">
                <h4 class="card-title">Cluvox Charger </h4>
                <h6>29.94$</h6>
                <p class="card-text">Cluvox Fast USB C Wall Charger with Foldable Plug for iPhones</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/charger3.jpg"
                class="card-img-top"  width="100" height= "330" alt="ChargerImage">
            <div class="card-body">
                <h4 class="card-title">Anker Charger</h4>
                <h6>29.99$</h6>
                <p class="card-text">Anker Wireless 313 Charger,Qi-Certified 10W Max for iPhones</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> 
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/charger4.jpg"
                class="card-img-top" width="100" height= "330" alt="ChargerImage">
            <div class="card-body">
                <h4 class="card-title">Charging boat</h4>
                <h6>20.99$</h6>
                <p class="card-text">USB Charging Station Multi Port Chargerfor iPhone iPad Samsung Tablets</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> 
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/charger5.jpg"
                class="card-img-top" width="100" height= "330" alt="GTAImage">
            <div class="card-body">
                <h4 class="card-title">Keymox Charger</h4>
                <h6>29.64$</h6>
                <p class="card-text">Keymox Portable Charger, USB-C Power Delivery,for iPhone, Samsung, iPad</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> 
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/charger6.jpg"
                class="card-img-top" width="100" height= "330" alt="ChargerImage">
            <div class="card-body">
                <h4 class="card-title">sumsung Charger</h4>
                <h6>29.49$</h6>
                <p class="card-text">USB C Charger,Spigen 45W Super,for GalaxyS22 Fold 3 Flip</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> 
            </div>
        </div>
    </div>
</div> -->

{% endblock %}
