{% extends 'layout.html' %}

{% block title %}Gaming{% endblock %}

{% block body %}

<h3 class="text-center">Gaming Accessories</h3>
<div class="col-md-11" style="width: 80%; margin: 0 auto;">
    <div class="row">
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://m.media-amazon.com/images/M/MV5BZDc1MWUzZDUtOTMzNC00MDY4LWE0NjQtNGQzMTM2M2YzYmMwXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_UY1200_CR85,0,630,1200_AL_.jpg"
                class="card-img-top"  width="100" height= "330" alt="GTAImage">
            <div class="card-body">
                <h5 class="card-title">GTA Vice City</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9c/Pokemon_Legends_Arceus_cover.jpg/220px-Pokemon_Legends_Arceus_cover.jpg"
                class="card-img-top" width="100" height= "330" alt="PokemonImage">
            <div class="card-body">
                <h5 class="card-title">Pokémon Legends: Arceus</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://m.media-amazon.com/images/I/71JIPbwGQaS._AC_SL1200_.jpg"
                class="card-img-top"  width="100" height= "330" alt="GTAImage">
            <div class="card-body">
                <h5 class="card-title">Halo Infinite</h5>
                <p class="card-text">PS4 Stand Cooling Fan Station for Playstation 4/PS4 Slim/PS4 Pro, 
                     Port Charger Dock Station and 12 Game Slots$29.99</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> <div>incrment button</div>
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6495/6495150_sd.jpg;maxHeight=640;maxWidth=550"
                class="card-img-top" width="100" height= "330" alt="GameImage">
            <div class="card-body">
                <h5 class="card-title">W2K22 Game</h5>
                <p class="card-text">WWE 2K22 Standard Edition - PlayStation 5
                    Model:57883 $69.99</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> <div>incrment button</div>
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://m.media-amazon.com/images/I/81aLm1jkctL._AC_UY436_QL65_.jpg"
                class="card-img-top" width="100" height= "330" alt="GameImage">
            <div class="card-body">
                <h5 class="card-title">play Station</h5>
                <p class="card-text">Skywin PSVR Charging Display Stand Showcase, Charge Playstation $39.99</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> <div>incrment button</div>
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://m.media-amazon.com/images/I/61oFqsoj9nL._AC_UY436_QL65_.jpg"
                class="card-img-top" width="100" height= "330" alt="GameImage">
            <div class="card-body">
                <h5 class="card-title">play Staion</h5>
                <p class="card-text">PlayStation 4 Slim 1TB Console - Black 

                    
                </p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> <div>incrment button</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}