{% extends 'layout.html' %}

{% block title %}headsets{% endblock %}

{% block body %}
<h3 class="text-center">Headsets Accessories</h3>
<div class="col-md-11" style="width: 80%; margin: 0 auto;">
    <div class="row">

        {% for product in products %}

        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src={{product.image_location}} class="card-img-top" width="100" height="330" alt="headseImage">
            <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <h6>{{product.price}}$</h6>
                <p class="card-text">{{product.description}}<br>{{product.stock}} instock</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        {% endfor %}

    </div>
</div>




<!-- <h3 class="text-center">Headsets Accessories</h3>
<div class="col-md-11" style="width: 80%; margin: 0 auto;">
    <div class="row">
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/headsets.jpeg"
                class="card-img-top"  width="100" height= "330" alt="headseImage">
            <div class="card-body">
                <h4 class="card-title">SONY Headset</h4>
                <h6>32.00$</h6>
                <p class="card-text">SONY Over Ear Best Stereo Extra Bass Portable Headphones for iPhone Samsung mp3 Player</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/headset1.jpg"
                class="card-img-top" width="100" height= "330" alt="GTAImage">
            <div class="card-body">
                <h4 class="card-title">Philips Headset</h4>
                <h6>39.99$</h6>
                <p class="card-text">Philips Computer Headset with Microphone </p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/headset2.jpg"
                class="card-img-top"  width="100" height= "330" alt="GTAImage">
            <div class="card-body">
                <h4 class="card-title">Rltek Handsfree</h4>
                <h6>19.99$</h6>
                <p class="card-text">Sound Isolating Handsfree Headset Earphones Earbuds</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> 
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/headset3.jpg"
                class="card-img-top" width="100" height= "330" alt="airpodImage">
            <div class="card-body">
                <h4 class="card-title">COMISO Earbuds</h4>
                <h6>52.99$</h6>
                <p class="card-text">Wireless,Bluetooth Earbuds,with Microphone,Charging Case </p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> 
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/headset4.jpg"
                class="card-img-top" width="100" height= "330" alt="AirpodImage">
            <div class="card-body">
                <h4 class="card-title">Apple AirPods Pro</h4>
                <h6>249.95$</h6>
                <p class="card-text">Active noise cancellation for immersive sound hearing</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> 
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/headset5.jpg"
                class="card-img-top" width="100" height= "330" alt="HeadphoneImage">
            <div class="card-body">
                <h4 class="card-title">Bone Headphones</h4>
                <h6>73.99$</h6>
                <p class="card-text">Bone Conduction Headphones Bluetooth, Wireless MP3 Player</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> 
            </div>
        </div>
    </div>
</div> -->
{% endblock %}