{% extends 'layout.html' %}

{% block title %}Keyboard&mouse{% endblock %}

{% block body %}
<h3 class="text-center">Keyboard & Mouse-Accessories</h3>
<div class="col-md-11" style="width: 80%; margin: 0 auto;">
    <div class="row">
        {% for product in products %}

        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <div class="pic" style="margin-top: 4%;">
                <img src={{product.image_location}} class="card-img-top" width="100" height="330" alt="">
            </div>
            <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <h6>${{product.price}}</h6>
                <p class="card-text">{{product.description}}<br>{{product.stock}} in-stock </p>
                <div style="display: flex; justify-content: space-around;">
                    <p><a href="#" class="btn btn-primary" style="width: 100%"> Add <i lass="fas fa-shopping-cart"></i></a></p>
                    <!-- <p><a href="#">details</a></p> -->
                    <!--Decission! to show delete session for admin -->
                    {% if session['role']=='admin' %}
                    <p><a class="btn btn-danger" href="/deletekeyboard/{{product.id}}">delete</a></p>
                    {% endif %}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>




<!-- <h3 class="text-center">mics/speakers Accessories</h3>
<div class="col-md-11" style="width: 80%; margin: 0 auto;">
    <div class="row">
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/keyboard1.jpg"
                class="card-img-top"  width="100" height= "330" alt="Keyboardmage">
            <div class="card-body">
                <h4 class="card-title">Keyboard&Mouse</h4>
                <h6>24.15$</h6>
                <p class="card-text">Basics Wired Computer Keyboard and Wired Mouse, 10-Pack </p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/keyboard2.jpg"
                class="card-img-top" width="100" height= "330" alt="KeyboardImage">
            <div class="card-body">
                <h4 class="card-title">IPad Keyboard</h4>
                <h6>39.99$</h6>
                <p class="card-text">iPad Pro Case with Keyboard for  Air 5th/4th Gen, Pencil Holder </p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/keyboard3.jpg"
                class="card-img-top"  width="100" height= "330" alt="KeyboardImage">
            <div class="card-body">
                <h4 class="card-title">Foldable Keyboard</h4>
                <h6>56.64$</h6>
                <p class="card-text">Foldable Bluetooth Wireless Keyboard,for PC,phone,Tablet&Laptop </p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> 
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/mouse.jpg"
                class="card-img-top" width="100" height= "330" alt="MouseImage">
            <div class="card-body">
                <h4 class="card-title">Bluetooth Mouse</h4>
                <h6>19.59</h6>
                <p class="card-text">Bluetooth Mouse and Mouse Pad Wireless Mouse for Computer</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> 
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/keyboard4.jpg"
                class="card-img-top" width="100" height= "330" alt="KeyboardImage">
            <div class="card-body">
                <h4 class="card-title">Laser Keyboard</h4>
                <h6>26.99$</h6>
                <p class="card-text">Virtual Wireless Laser Keyboard Mouse Bluetooth Mobile Phone,Tablet</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> 
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="/static/images/keyboard5.jpg"
                class="card-img-top" width="100" height= "330" alt="KeyboardImage">
            <div class="card-body">
                <h5 class="card-title">Ipad Keyboard </h5>
                <h6>36.99$</h6>
                <p class="card-text">Bluetooth Keyboard and Mouse Combo,Wireless</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> <div>incrment button</div>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}