{% extends 'layout.html' %}

{% block title %}mics/speakers{% endblock  %}

{% block body %}

<h3 class="text-center">mics/speakers Accessories</h3>
<div class="col-md-11" style="width: 80%; margin: 0 auto;">
    <div class="row">
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://m.media-amazon.com/images/I/919nUec0hBL._AC_SL1500_.jpg"
                class="card-img-top"  width="100" height= "330" alt="speakerImage">
            <div class="card-body">
                <h5 class="card-title">ION Speaker</h5>
                <p class="card-text">ION Audio Block Rocker Plus - Portable Bluetooth Speaker 100W W/Battery,
                     Karaoke Microphone, AM FM Radio, Wheels & Telescopic Handle and USB Charging $169.00</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://m.media-amazon.com/images/I/810uiVPhu9L._AC_SL1500_.jpg"
                class="card-img-top" width="100" height= "330" alt="SpeakerImage">
            <div class="card-body">
                <h5 class="card-title">JBL GTO609C Speaker</h5>
                <p class="card-text">JBL GTO609C Premium 6.5-Inch Component, Subwoofer Heavy Bass, Speaker System. 
                     $129.95      </p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://m.media-amazon.com/images/I/71XpwOsJmUL._AC_SL1500_.jpg"
                class="card-img-top"  width="100" height= "330" alt="SpeakerImage">
            <div class="card-body">
                <h5 class="card-title">Dindin Speaker</h5>
                <p class="card-text">DINDIN Bluetooth Speaker,Portable Wireless with Lights,2 Double Subwoofer Heavy Bass,
                    FM Radio,SD Player,Remote $39.99</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> <div>incrment button</div>
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://m.media-amazon.com/images/I/81FJJkFhlEL._AC_SL1500_.jpg"
                class="card-img-top" width="100" height= "330" alt="SpeakerImage">
            <div class="card-body">
                <h5 class="card-title">KAPPA Speakers</h5>
                <p class="card-text">Infinity KAPPA-60CSX 6.5" Component Speakers KAPPA-90CSX 6x9 Component Speakers</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> <div>incrment button</div>
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://m.media-amazon.com/images/I/81ayiXd8eHL._AC_SL1500_.jpg"
                class="card-img-top" width="100" height= "330" alt="SpeakerImage">
            <div class="card-body">
                <h5 class="card-title">Treblab Speaker</h5>
                <p class="card-text">STREBLAB HD77 Bluetooth Speaker with Loud 360° HD Surround Sound, Wireless Dual 
                    Pairing, 20H Battery $89.97</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> <div>incrment button</div>
            </div>
        </div>
        <div class="card" style="width: 16rem; margin: 3%; height: 560px;">
            <img src="https://m.media-amazon.com/images/I/71kxouQdhjS._AC_SL1500_.jpg"
                class="card-img-top" width="100" height= "330" alt="SpeakerImage">
            <div class="card-body">
                <h5 class="card-title">Karoke Speaker</h5>
                <p class="card-text">M200 - Bluetooth Speaker with Microphone-
                    Wireless Portable PA System - Karoke System Set for Party $162.00</p>
                <a href="#" class="btn btn-primary">Add <i class="fas fa-shopping-cart">  </i></a> <div>incrment button</div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}